<div style="background: #eaeaea; border: 1px solid silver; border-radius: 5px; width: 400px; margin: 40px auto 0; padding: 40px; text-align: center">
    <div style="float: left;font-size: 52px; color: silver;"><i class="icon-lock"></i></div>
    <h1>Acceso denegado</h1>
    <p>No tiene permiso para acceder</p>
</div>