@model RememberPasswordViewModel

@{
    ViewBag.Title = "Recordar contraseña";
}

<h2>Recordar contraseña</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary()
    <label for="Email">Email:</label>
    @Html.EditorFor(m=>m.Email, new {style = "width: 500px;"})
    <input type="submit" value="Enviar nueva contraseña por email" class="defaultbutton"/>
}