@model Site.Models.Usuario

@{
    ViewBag.Title = "Enviar contraseña";
}

<h1>Enviar contraseña a nuevo usuario</h1>
<div class="info">Se ha creado el usuario <b>@Model.Nombre</b> con exito.</div>
<br />Ahora solo queda pendiente que se le envíe su nombre de usuario 
<br />con una contraseña para que pueda comenzar a operar con el sitio

<form action="/config/Usuario/EnviarPassword/@Model.UsuarioID" method="post">
    <input type="submit" class="jbtn-email" value="Enviar contraseña" />
</form>


