USE [ProductosDeLaTierra]
GO
/****** Object:  Table [dbo].[Ayuda]    Script Date: 02/24/2016 13:19:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ayuda](
	[AyudaID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](200) NULL,
	[Titulo] [varchar](255) NULL,
	[Notas] [text] NULL,
 CONSTRAINT [PKAyuda] PRIMARY KEY CLUSTERED 
(
	[AyudaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF