@{
	ViewBag.Title = "Acerca de Productos de la Tierra";
}
<h1>Créditos del sitio</h1>

<p>Desarrollado por Leandro Palma y Eduardo Molteni para <a href="http://www.bizcacha.com">Bizcacha</a></p>
<br />
<p>
	Algunos iconos son de <a href="https://thenounproject.com/">The noun Project</a> creados por 
	<ul style="margin-left: 15px;">
		<li>Matt Brooks
		<li>Austin Condiff
		<li>Marco Galtarossa
		<li>Creative Stall
		<li>Jesús Mujica
		<li>Simon Child
		<li>Yamini Ahluwalia
		<li>ludmil
		<li>Jane Pellicciotto
		<li>Gregor Crešnar
		<li>Creative Stall
		<li>Piger
	</ul>


</p>



